@model AlmarchivosPT.Models.Persona

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdPersona" />
    <div>
        <label>Nombres</label>
    </div>
    <div>
        <input asp-for="Nombres" />
    </div>
    <div>
        <label>Apellidos</label>
    </div>
    <div>
        <input asp-for="Apellidos" />
    </div>
    <div>
        <label>Número de identificación</label>
    </div>
    <div>
        <input asp-for="NumIdPersona" />
    </div>
    <div>
        <label>Email</label>
    </div>
    <div>
        <input asp-for="Correo" />
    </div>
    <div>
        <label>Tipo identificación</label>
    </div>
    <div>
        <input asp-for="TipoIdPersona" />
    </div>
    <br />
    <button type="submit">Actualizar</button>
</form>